<div class='fade-in'>
  <c-row class='row'>
    <c-col *ngFor='let event of events' class='col-md-4 col-sm-6' md='4' sm='6'>
      <app-event-list-item
        [event]='event'>
      </app-event-list-item>
    </c-col>
  </c-row>

  <c-row class='row'>
    <c-col class='mb-3 text-center' col='md' sm='4'>
      <button (click)='onAddEventClick()' cButton color='success'
              shape='pill'>
        <c-icon name='cil-library-add'></c-icon>
        <span>&nbsp;{{ 'events.add-event' | translate }}</span>
      </button>
    </c-col>

  </c-row>
</div>
