
  <c-card class="card" >
    <c-card-header class="card-header"><b>{{event.name}} ({{event.date | date : 'yyyy-MM-dd, hh:mm'}})</b>
      <c-card-header-actions style="height: 21px; float: initial; margin-left: -8px;" class="card-header-actions">
        <c-button-group dropdown class="mr-1 mb-1">
          <button cButton [routerLink] dropdownToggle color="link" size="sm" class="dropdown-toggle">
            Actions
          </button>
          <div *dropdownMenu class="dropdown-menu">
            <a [routerLink] cDropdownItem>Edit</a>
            <a [routerLink] cDropdownItem>Print</a>
            <a [routerLink] cDropdownItem>Add to shopping list</a>
            <c-dropdown-divider></c-dropdown-divider>
            <a [routerLink] cDropdownItem class='text-danger'>Remove</a>
          </div>
        </c-button-group>
      </c-card-header-actions>
    </c-card-header>

    <c-card-body class="card-body">
      <app-meal-list-item
        *ngFor='let meal of event.meals'
        [meal]='meal'>
      </app-meal-list-item>
    </c-card-body>

  </c-card>

