<c-container>
  <c-row class='mt-5'>
    <c-col class='mx-auto col-lg-6'>
      <c-card class='mx-4'>
        <c-card-body class='p-4'>
          <form [formGroup]='form'>
            <h2>{{'login.register-or-login' | translate}}</h2>
            <p class='text-muted'>{{'login.instruction' | translate}}</p>

            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <span class='input-group-text'>
                  <c-icon name='cil-envelope-closed'></c-icon>
                </span>
              </div>
              <input
                formControlName='email'
                autocomplete='email'
                class='form-control'
                placeholder='Email'
                required
                type='text'
              />
            </div>

            <button (click)='onSendClick()' block='true' cButton
                    color='success'>
              {{'login.send-magic-link' | translate}}
            </button>

            <div class='g-signin2' data-onsuccess='onSignIn'></div>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
