<div class='fade-in'>
  <c-row>
    <c-col lg='8' sm='12' xl='6'>
      <c-card>
        <c-card-header>
          <c-icon name='cil-pencil' size='sm'></c-icon>&nbsp;
          <strong>{{'recipes.recipe' | translate}}: {{recipe.name}} </strong>

        </c-card-header>
        <c-card-body>
          <form (ngSubmit)='onSaveRecipe()' [formGroup]='recipeForm'>

            <c-form-group>
              <label for='name'>{{ 'common.name' | translate}}</label>
              <input cInput formControlName='name'
                     id='name'>
            </c-form-group>

            <h5>{{ 'recipes.calculation-for' | translate}}:</h5>
            <c-form-group class='col-5' style='padding-left: 0'>
              <label for='portions'>{{ 'recipes.portions-count' | translate}}</label>
              <input cInput formControlName='portions'
                     id='portions'
                     type='number'>
            </c-form-group>

            <c-form-group class='col-5' style='padding-left: 0'>
              <label for='cookingTime'>{{ 'recipes.laborCosts' | translate}}</label>
              <input cInput formControlName='cookingTime'
                     id='cookingTime'
                     type='number'>
            </c-form-group>

            <h5>{{ 'ingredients.ingredients' | translate}}:</h5>
            <div class='form-inline' style='margin-bottom: 20px'>
              <c-form-group class='col-5'>
                <label class='sr-only' for='ingredient-name'>Email</label>
                <input cInput id='ingredient-name' name='ingredient-name' placeholder='ingredient name'>
              </c-form-group>
              <c-form-group class='col-5'>
                <label class='sr-only' for='if-password'>Password</label>
                <input autocomplete='current-password' cInput id='if-password' name='if-password'
                       placeholder='Enter Password..'
                       type='password'>
              </c-form-group>
              <button cButton class='mr-1 mb-1'
                      color='pinterest' size='sm'
                      style='margin: 5px 0 0 5px'>
                <c-icon name='cil-trash' size='sm'></c-icon>
              </button>
            </div>

            <c-form-group class='form-actions'>
              <button [disabled]='recipeForm.pristine'
                      cButton
                      class='mfe-1'
                      color='success'
                      type='submit'
              >{{ 'common.save' | translate}}</button>

              <button (click)='onCancel()'
                      cButton
                      color='secondary'
              >{{ 'common.cancel' | translate}}</button>
            </c-form-group>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
