<div class='fade-in'>
  <c-row>
    <c-col lg='8' sm='12' xl='6'>
      <c-card>
        <c-card-header>
          <c-icon name='cil-pencil' size='sm'></c-icon>&nbsp;
          <strong>{{'recipes.recipe' | translate}}: {{recipe.name}} </strong>

        </c-card-header>
        <c-card-body>
          <form (ngSubmit)='onSaveRecipe()' [formGroup]='recipeForm'>

            <c-form-group>
              <label for='name'>{{ 'common.name' | translate}}</label>
              <input cInput formControlName='name'
                     id='name'
                     style='width: 100%'>
            </c-form-group>

            <h5>{{ 'recipes.calculation-for' | translate}}:</h5>
            <c-form-group class='col-5' style='padding-left: 0'>
              <label for='portions'>{{ 'recipes.portions-count' | translate}}</label>
              <input cInput formControlName='portions'
                     id='portions'
                     min='1' type='number'>
              <small>{{ 'recipes.portions-count-hint' | translate}}</small>
            </c-form-group>

            <c-form-group class='col-5' style='padding-left: 0'>
              <label for='laborCosts'>{{ 'recipes.labor-costs' | translate}}</label>
              <input cInput formControlName='laborCosts'
                     id='laborCosts'
                     type='number'>
            </c-form-group>

            <c-form-group class='col-5' style='padding-left: 0'>
              <label for='cookingTime'>{{ 'recipes.cooking-time' | translate}}</label>
              <input cInput formControlName='cookingTime'
                     id='cookingTime'
                     type='number'>
            </c-form-group>

            <c-form-group class='col-12' style='padding-left: 0'>
              <label for='description'>{{ 'recipes.description' | translate}}</label>
              <textarea cTextarea formControlName='description' id='description'
                        placeholder="{{ 'recipes.description-placeholder' | translate}}"
                        rows='7'></textarea>
            </c-form-group>

            <!-- Ingredients -->
            <h5>{{ 'ingredients.ingredients' | translate}}:</h5>
            <div *ngFor='let ingredientCtrl of this.ingredientsFromArrayControls; let i = index'
                 class='form-inline'
                 formArrayName='ingredients'
                 style='margin-bottom: 20px; padding-left: 0'>
              <ng-container [formGroupName]='i'>
                <c-form-group class='col-7' style='padding-left: 0'>
                  <label class='sr-only' for='ingredientId'>Amount</label>
                  <ng-select
                    [clearable]='true'
                    [items]='ingredientsDropdownItems'
                    (change)='onChangeIngredient($event, ingredientCtrl)'
                    class='bootstrap'
                    formControlName='ingredient'
                    id='ingredientId'
                    placeholder='Please select recipe'>
                  </ng-select>
                </c-form-group>

                <c-form-group class='col-3'>
                  <label class='sr-only' for='ingredientAmount'>{{ 'ingredients.count' | translate }}</label>
                  <input [isDisabled]='ingredientCtrl.ingredient.amount<=0' cInput
                         (change)='onChangeAmount($event, ingredientCtrl.ingredient)'
                         min='1' type='number'
                         formControlName='ingredientAmount'
                         id='ingredientAmount'
                         placeholder="{{ 'common.units.'+ingredientCtrl.ingredient.unit | translate }}"
                         tooltip="{{ 'ingredients.count' | translate }} ({{ 'common.units.'+ingredientCtrl.ingredient.unit | translate }})"
                  >
                </c-form-group>

                <c-form-group class='col-2'>
                  <button (click)='onRemoveIngredient(ingredientCtrl, i)'
                          cButton
                          class='mr-1 mb-1' color='instagram'
                          size='sm'
                          style='margin: 5px 0 0 5px'>
                    <c-icon name='cil-trash' size='sm'></c-icon>
                  </button>
                </c-form-group>
              </ng-container>
            </div> <!-- End Ingredients -->

            <button (click)='onAddIngredient()'
                    cButton
                    class='btn-sm btn btn-ghost-info'
            >{{ 'ingredients.add-ingredient' | translate }}
            </button>

            <hr />
            <!-- Form actions -->
            <c-form-group class='form-actions'>
              <button [disabled]='recipeForm.pristine || recipeForm.invalid'
                      cButton
                      class='mfe-1'
                      color='success'
                      type='submit'
              >{{ 'common.save' | translate}}</button>

              <button (click)='onCancel()'
                      cButton
                      color='secondary'
              >{{ 'common.cancel' | translate}}</button>
            </c-form-group>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</div>
