// Here you can add other styles

.card-header {
  b {
    font-size: large;
    margin-right: 10px;
  }

  small {
    margin-right: 10px;
  }

  .meal-list-item {
    margin: 5px 0 5px 0;
  }
}

// VALIDATION
// -------------------------------
input.ng-invalid,
textarea.ng-invalid,
ng-select.ng-invalid {
  border: 1px solid red;
  border-radius: 5px;
}
