.bought td {
  text-decoration: line-through;
}

.peach {
  background-color: #ffad92;
}

.green {
  background-color: #a4ffb7;
}

.blue {
  background-color: #caf1ff;
}

.yellow {
  background-color: #f7ffca;
}

.white {
  background-color: white;
}
